body{
color:black;
font-family:Verdana,Arial;
font-weight:normal;
background-color: #E2E8E4;
font-size:15px;
}
a:link{
color:#FFFFFF;
text-decoration:none;
font-family:Georgia;
margin:1px;
padding:2px;
text-align:center;
}
a:active
{color:#FFFFFF;}
a:hover
{color:black;
background-color:#ffffff;
}
.table{
    background-color:#006c84;
    margin-left:700;
    border: 2px groove #488299;
    border-collapse: collapse;
    width:100%;
    height:50%;
}
.resizedTextbox {width: 700px; height: 20px}
.imagec{
display:block;
margin-right:700;
padding:3px;
border-color:#dddede;
border-width:2px;
border-style:solid;
}
/*.html {
    height: 100%;
    width: 100%;
}*/
p.post{
display:block;
margin-left:auto;
margin-right:auto;
line-height:1.5em;
padding:20px;
border-color:#ffccbb;
border-radius:10px;
border-width:5px;
border-style:ridge;
background-image:url(file:///home/sola/cloud-1.jpg);
}
.button {
    background-color:#006c84 ;
    border: groove;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
   /* width: 100%;      
    height: 100%;  */   
    text-decoration: none;
    display: inline-block;
    float:left;
    clear:right;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#divMain{
color: white;

}
#header {
    background-color:#006C84;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eed8c9;
    width:200px;
    float:left;
    padding:0px;	      
}
#section {
    margin-left:auto;
    margin-right:auto;
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:#006C84;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
